@{
    ViewData["Title"] = "Home Page";
}


<div data-aos="fade-up" class="card" >
    <a class="postUsername" href="/user/{{user.id}}">{{user.username}}</a>
    <h3>This is a Post</h3>
    <h5>@DateTime.Now</h5>
    <p>this is a cool post</p>
    <h1 type="button" class="btn btn-primary"> Comments </h1>
</div>
<div data-aos="fade-up" class="card" >
    <a class="postUsername" href="/user/{{user.id}}">{{user.username}}</a>
    <h3>This is a Post</h3>
    <h5>@DateTime.Now</h5>
    <p>this is a cool post</p>
    <h1 type="button" class="btn btn-primary"> Comments </h1>
</div>
<div data-aos="fade-up" class="card" >
    <a class="postUsername" href="/user/{{user.id}}">{{user.username}}</a>
    <h3>This is a Post</h3>
    <h5>@DateTime.Now</h5>
    <p>this is a cool post</p>
    <h1 type="button" class="btn btn-primary"> Comments </h1>
</div>
<div data-aos="fade-up" class="card" >
    <a class="postUsername" href="/user/{{user.id}}">{{user.username}}</a>
    <h3>This is a Post</h3>
    <h5>@DateTime.Now</h5>
    <p>this is a cool post</p>
    <h1 type="button" class="btn btn-primary"> Comments </h1>
</div>

